.instructions
{
	border:2px solid red;
	border-radius:25px;
	width: 75%;
	height: 200px;
	margin-left:100px;
	margin-top:30px;
	padding:25px 50px 10px 100px;
	box-shadow: 10px 10px 5px #888888;
}

.buttons
{
	padding:25px 25px 25px 25px; 
	text-align:center;
}

#startButton
{
	height:50px;
	width: 100px;
}
html 
{
    height:100%;
}

#background {
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed;
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    margin: auto;
    height:100%;
	width:100%;
}

