.instructions
{
	border:2px solid red;
	border-radius:25px;
	width: 75%;
	height: 200px;
	margin-left:100px;
	margin-top:30px;
	padding:25px 50px 10px 100px;
	box-shadow: 10px 10px 5px #888888;
	background:url("images/Art Assets/Casino Table.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	padding-top:0%;
}

.buttons
{
	padding:25px 25px 25px 25px; 
	text-align:center;
}

#startButton
{
	height:50px;
	width: 100px;
}